<ion-reorder-group (ionItemReorder)="onReorder($event)" disabled="false">
  <ion-item button detail (click)="onShowDetails($event, category)" *ngFor="let category of categories">
    <ion-buttons>
      <ion-reorder class="reorder" slot="start">
        <ion-icon name="reorder-four-outline"></ion-icon>
      </ion-reorder>
    </ion-buttons>
    <ion-label>
      <h3>{{ category.title }}</h3>
    </ion-label>
    <ion-button class="rename-button" fill="clear" (click)="onRenameClick($event, category)">
      <ion-icon name="create-outline"></ion-icon>
    </ion-button>
    <ion-button class="delete-button" fill="clear" (click)="onDeleteClick($event, category)">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-button>
  </ion-item>
</ion-reorder-group>