<ion-reorder-group (ionItemReorder)="onReorder($event)" disabled="false">
  <ion-item button detail (click)="onShowDetails($event, category)" *ngFor="let category of categories">
    <ion-reorder class="reorder" slot="start" *ngIf="categories.length > 1">
      <ion-icon name="reorder-four-outline"></ion-icon>
    </ion-reorder>
    <ion-label>
      {{ category.title }}
    </ion-label>
    <ion-buttons>
      <ion-button class="rename-button" fill="clear" color="primary" (click)="onRenameClick($event, category)">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
      <ion-button class="delete-button" fill="clear" color="primary" (click)="onDeleteClick($event, category)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
</ion-reorder-group>