.count-label {
  color: var(--ion-color-primary);
  font-size: 20px;
  text-align: center;
  width: 150px;
  border: 1px solid var(--ion-color-primary);
  border-radius: 3px;
  margin: 0 2px;
}

.counter-meta {
  margin: 10px 0 4px 3px;
}

.action-buttons {
  position: relative;
  float: right;
}

.rename-button {
  padding: 4px;
  margin: 0;
}

.delete-button {
  padding: 4px;
  margin: 0;
}